/*DEFAULTS  */

body {
  background-color: #FFFFFC;
  font-family: 'Roboto', sans-serif;  

  margin: 0px;
  font-size: 20px;
  line-height: 150%;
}

a {
  color: #ff5200;
  text-decoration: none; 
}


/*BASIC STYLES  */
.primary-style {
  background-color: #314a52;
  color: white;
}

.secondary-style {
  background-color: #52686a;
  color: white;
}

.text-style {
  color: #003355;
}

/*HEADER  */
header {
  padding: 30px;
}

header > h1 {
}

header ul {
  padding: 0px;
  margin: 0px;
}

header li {
  display: inline-block;
  padding: 0px 10px;
}


/*ABOUT ME  */
.about {
  padding: 50px 0px;
}

.about > p {
  padding: 40px;
  margin: 0px auto;
  width: 70%;
}

.about > img {
  border-radius: 20%;
  display: block;
  margin: auto;
}

/*BUFFER  */
.buffer {
  height: 120px;
  width: 100%;
  margin: 100px 0px 30px 0px;
}


/*WORK  */
.work {
  margin: 0px auto;
}

.work > h2 {
  margin: 0px;
  text-align: center;
  width: 30%;

}

/*PROJECTS  */
.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10px;
}

.project > h3 {
  padding: 10px 0px;
}

.project h4 {
  margin: 0px;
}
.project a {
  background-color: #ff5200;
  color: white;
  padding: 5px;
  text-transform: uppercase; 
}

.project ul {
  padding: 0px;
}

.project li {
  background-color: #52686a;
  color: white;
  display: inline-block;
  margin-top: 2px;
  padding: 0px 10px;
}
.project-description {
  padding: 20px;
  width: 45%;
}
.project-screenshot {
  width: 45%;
}

 .project-screenshot img {
  height: 100%;
  width: 100%;  
} 



/*CONTACT  */
.contact {
   padding: 15px; 
}

.contact > h3 {
  margin: 0px;
  padding: 5px 0px 0px 5px;
}

.contact ul {
  padding: 0px;
  margin: 0px;
}

.contact li {
  display: inline-block;
  padding: 0px 10px;
}